@import "fonts.scss";
@import "function.scss";
@import "reset.scss";

.wrapper {
    font-family: Mulish, sans-serif;
}

[class*="__container"] {
    max-width: toRem(1230);
    padding: 0 toRem(15);
    margin: 0 auto;
    border: 1px solid black;
}

.wrapper {
    min-height: 100vh;
    overflow: clip;
}

.header {
    // .header__container
    margin-top: toRem(32);
    margin-bottom: toRem(51);

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: toRem(12);
        flex-wrap: wrap;
        padding-top: toRem(23);
        padding-bottom: toRem(23);
        background-color: #fff;
        border-radius: 20px;
    }

    // .header__menu

    &__menu {
        // display: none;
        nav {
            @media (max-width: toRem(780)) {
                flex-direction: column;
                position: fixed;
                height: 100%;
                width: 60%;
                top: 0;
                right: 0;
                transform: translateX(100%);
                transition: all 0.5s;
                z-index: 50;
                padding: toRem(70) toRem(40);
                background-color: #636777;
            }
            display: flex;
            column-gap: toRem(32);
            row-gap: toRem(24);
            line-height: 1.4;
            color: #14171f;
        }
    }

    .header__nav.open {
        transform: translateX(0);
    }

    // .header__burger

    &__burger {
        position: relative;
        @media (min-width: toRem(781)) {
            display: none;
        }
        display: flex;
        align-items: center;
        column-gap: toRem(18);
        p {
            line-height: 1.4;
            color: #14171f;
        }
    }

    // .header__burger-menu

    &__burger-menu {
        &.active {
            overflow: hidden;

            & div:nth-child(1) {
                transform: translateY(4px) rotate(45deg);
                margin: 0;
            }
            & div:nth-child(2) {
                transform: translateX(30px);
                margin: 0;
                transition: all 0.2s;
            }
            & div:nth-child(3) {
                transform: rotate(-45deg);
                margin: 0;
            }
        }
        display: block;
        width: 20px;
        height: 20px;
        position: relative;
        & div:nth-child(1) {
            width: 100%;
            height: 2px;
            background-color: #14171f;
            margin-bottom: toRem(5);
            border-radius: 50px;

            transition: all 0.5s;
        }
        & div:nth-child(2) {
            width: 100%;
            height: 2px;
            background-color: #14171f;
            margin-bottom: toRem(5);
            border-radius: 50px;
        }
        & div:nth-child(3) {
            width: 100%;
            height: 2px;
            background-color: #14171f;
            border-radius: 50px;
            transition: all 0.5s;
        }
    }

    // .header__link

    &__link {
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    // .header__exchange

    &__exchange {
        line-height: 1.4;
        color: #14171f;
        display: flex;

        span {
            font-weight: 700;
            color: #69c647;
        }
    }
    // .header__media

    &__media {
        display: flex;
        column-gap: toRem(14);
    }

    &__media-link {
        img {
            transition: transform 0.3s;
            &:hover {
                transform: scale(1.1);
            }
        }
    }

    // .header__contact

    &__contact {
        font-size: 12px;
        line-height: 1.4;
        color: #323847;
        text-align: right;
        span {
            font-size: 16px;
            line-height: 1.4;
            color: #14171f;
        }
    }
}

.page-home {
    
    top: 0;
    z-index: -1;
    
    // .page-home__container
overflow: hidden;
width: 100%;
height: 100vh;
    &__container {
        overflow: hidden;
        margin-top: toRem(171);
    }
    &__bg{
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100vh;
        img{
            
            width: 100%;
            height: 100%;
        }
    }

    // .page-home__text

    &__text {
        padding-top: toRem(103);
        max-width: toRem(600);
    }

    // .page-home__title

    &__title {
        font-weight: 700;
        font-size: toRem(64);
        line-height: 1.1;
        color: #fff;
        margin-bottom: toRem(32);
    }

    // .page-home__paragraph

    &__paragraph {
        max-width: toRem(438);
        p {
            color: #fff;
        }
        margin-bottom: toRem(48);
    }

    // .page-home__button

    &__button {
        button {
            line-height: 1.4;
            color: #fff;
            border-radius: 100px;
            padding: toRem(16) toRem(24);
            background: #69c647;
        }
    }
}
.paragraph {
    line-height: 1.4;
    color: #323847;
}
