@import "_reset.scss";
@import "_fonts.scss";

$whiteColor: #fff;

body {
    background-color: #1c1b21;
    overflow-x: hidden;
}

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
}

[class*="__container"] {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    // .header__container

    &__container {
        max-width: 950px;
        padding: 0 15px;
        margin: 0 auto 322px;
        display: flex;
        column-gap: 65px;
        align-items: center;
        margin-top: 35px;
        position: relative;
        @media (max-width: 835px) {
            margin: 0 auto 120px;
            margin-top: 35px;
            gap: 35px;
        }
    }

    // .header__logo

    &__logo {
        display: flex;
        align-items: center;
        column-gap: 20px;
        margin: 0 auto;
    }

    // .header__icon

    &__text-logo {
        position: relative;
        top: 4px;
    }

    // .header__burger

    &__burger {
        position: relative;
        padding: 12px 0;
        display: none;

        span::before,
        & .center,
        span::after {
            content: "";
            width: 43px;
            height: 4px;
            background-color: #fff;
            display: block;
            border-radius: 10px;
            transition: all 0.4s;
        }
        span::before {
            position: absolute;
            top: 0;
        }
        span::after {
            position: absolute;
            bottom: 0;
        }

        &:focus span::before {
            transform: rotate(-45deg) translateY(20px);
        }
        &:focus span::after {
            transform: rotate(45deg) translateY(-20px);
        }
        &:focus .center {
            opacity: 0;
        }

        @media (max-width: 835px) {
            display: block;
            margin-right: 10px;
        }
    }
}

.menu {
    display: flex;
    column-gap: 56px;
    row-gap: 15px;
    @media (max-width: 835px) {
        display: none;
    }

    &__link {
        color: var(--white, #fff);
        font-size: 18px;
        font-weight: 600;
        transition: color 0.3s;
        &:hover {
            color: var(--white, #e4cccc);
        }
    }
}

.background-page-1 {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.page-one {
    // .page-one__text

    &__text {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        margin-bottom: 52px;
        @media (max-width: 835px) {
            text-align: center;
        }
    }

    // .page-one__sub-title

    &__sub-title {
        color: #fff;
        font-size: 48px;
        font-weight: 700;
        @media (max-width: 835px) {
            font-size: 35px;
        }
        @media (max-width: 330px) {
            font-size: 28px;
        }
    }

    // .page-one__title

    &__title {
        font-size: 100px;
        font-weight: 700;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 0.5px #fff;
        @media (max-width: 835px) {
            font-size: 75px;
            -webkit-text-stroke: 1px #fff;
        }
        @media (max-width: 330px) {
            font-size: 60px;
        }
    }

    &__music-line {
        margin-bottom: 180px;
    }

    // .page-one__music-line

    &__music-line {
        display: flex;
        column-gap: 45px;
        align-items: center;
    }

    // .page-one__pause

    &__pause {
    }

    // .page-one__line

    &__line {
        width: 887px;
        height: 2px;
        background: #fff;
        position: relative;
        &::before {
            content: "";
            width: 20%;
            height: 2px;
            background: #7a66cc;
            position: absolute;
        }
        &::after {
            content: "";
            width: 2px;
            height: 20px;
            background: #7a66cc;
            position: absolute;
            left: 20%;
            top: 0;
            transform: translateY(-40%);
        }
    }

    // .page-one__time

    &__time {
        color: #fff;
        text-align: right;
        font-size: 18px;
        font-weight: 500;
        flex: 0 0 auto;
    }
}

.page-one {
    // .page-one__cards

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, minmax(230px, 1fr));
        margin-bottom: 100px;
        
        gap: 30px;
        
        @media(max-width: 875px){
            grid-template-columns: repeat(2, minmax(250px, 1fr));
        }
        @media(max-width: 662px){
            grid-template-columns: repeat(1, minmax(150px, 450px));
            justify-content: center;
        }

    }

    // .page-one__card

    &__card {
    }
}
.card {
    position: relative;
    // .card__image
    aspect-ratio: 356/324;
    display: grid;
    align-content: end;

    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        
        
        img {
            border-radius: 25px 2px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            
            
        }
    }

    // .card__text

    &__text {
        position: relative;
        z-index: 2;
        color: $whiteColor;
        
        font-weight: 500;
        
        
        

        p {
            padding: 21px 20px;
            background-color: #7a66cc;
            border-radius: 20px 0px;
            opacity: 0.7;
            width: 100%;
            line-height: normal;
            
        }
    }
}
