@import url(fonts.css);
@import url(reset.css);



/* ---- container 1 */

.container {
    max-width: 1000px;
    border: 2px solid black;
    margin: 0 auto 120px;
}

.first-container-content {
    font-size: 0;
}



.first-title {
    display: inline-block;
    padding-top: 150px;
    margin-left: 100px;
}

.main-container-title {
    width: 325px;
    color: #163A24;
    font-family: Recoleta;
    font-size: 48px;
    font-weight: 600;
    line-height: 54px;
    margin-bottom: 27px;
}


.paragraph {
    color: #163A24;
    font-family: "Noto Sans";
    font-size: 18px;
    line-height: 1.50;
    max-width: 400px;
    display: inline-block;
}