@import url("fonts.css");
@import url("reset.css");


body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(30,28,145,1) 27%, rgba(204,7,137,1) 49%, rgba(6,4,53,1) 77%, rgba(46,0,212,1) 100%);
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #880ddA;
    font-family: "Pixelify Sans";
}

.title {
    padding-top: 20px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 600;
    font-size: 50px;
}

.paragraph {
    margin-bottom: 20px;
    font-size: 23px;
    padding: 0 13px;
}

.title-list {
    text-align: center;
    font-size: 35px;
    margin-bottom: 15px;
}

.list {
    margin: 0 auto;
    max-width: 1100px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 0;


}

.list li {
    display: inline-block;
    font-size: 23px;
    margin-right: 120px;


}


.list-line-1 {
    margin-bottom: 20px;


}

.list-line-2 {}


.list li::before {
    content: "";
    background-image: url(../img/sun.png);
    background-size: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-position: 0 2px;
    margin-right: 5px
}

.list li::after {
    content: "";
    background-image: url(../img/gif.gif);
    display: block;
    background-size: 30px;
    background-position: 20px;
    width: 100%;
    height: 13px;
    visibility: hidden;
}

.list li:hover::after {
    content: "";
    visibility: visible;
}

.list li:hover {
    color: rgb(217, 194, 160);
}

.info-list {
    max-width: 130px;
    font-size: 15px;
    margin: 0 auto;
    margin-top: 7px;
    margin-bottom: 50px;
    display: none;

}

.info-list:target {
    display: block;
}