

@import url('fonts.css');
@import url('reset.css');

.wrapper{
    overflow: clip;
    min-height: 100%;
}

[class*='__container']{
    max-width: 906px;
    margin: 0 auto;
}


.header {
    background-color: #171d25;
}
.header__container {
    margin: 0 auto;
    text-align: center;
}
.header__menu {

}
.menu {
    font-size: 0;
    
}
.menu__item {
    display: inline-block;
    position: relative;
    color: #c8ced1;
    font-size: 16px;
    font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
    padding: 45px 7px 7px 7px;
    text-transform: uppercase;

}

.menu__item:not(:last-child){
    margin-right: 15px;
}

.menu__link:hover {
color: #fff;
transition: all .3s;
}


.logo img{
    width: 176px;
    height: 44px;
    padding-left: 10px;
}

.logo{
    transform: translate(0, -35%);
}


.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #3D4450;
    box-shadow: 3px 3px 5px -3px #000;
    font-size: 12px;
    width: 170px;
    text-align: left;
    visibility: hidden;
    z-index: 50;


}
.sub-menu__item {
   
}

.sub-menu__item:hover{
    color: #3D4450;
    background-color: #fff;
}
.sub-menu__link {
    padding: 10px 15px;
    display: block;
}

.menu__item:hover .sub-menu{
    visibility: visible;
}


.header__menu .menu__link:focus{
    color: #1a9fff;
    transition: all 0.2s;

}

.header__menu .menu__link:not(.logo):focus:after{
    content: "";
    position: relative;
    top: 5px;
    border-radius: 5px;
    display: block;
    width: 100%;
    height: 2.5px;
    background-color: #1a9fff;
    transition: all 0.3 left;
}

.page{
    background-image: url(../img/bg_page.jpg);
    min-height: 1000px;
}

.page__container{
background-color: #000;

}

.page__name-section {
}
.page__avatar{
    padding: 30px 0 0 25px;
    position: relative;

}

.page__avatar img{
    border:1.9px solid #c4c4c4;
    transform: scale(0.9);

}

.page__gif-img{
    position: absolute;
    top: 110px;
    transform: scale(0.95);

}


.page__avatar-hover {
    position: absolute;
    transform: translate(-326px, -185px);
}
.mini-profile-video {
    max-width: 350px;
    min-height: 100px;
    visibility: hidden;
  
}

.page__avatar:hover .mini-profile-video{
    visibility: visible;
}




