@import "fonts.scss";
@import "reset.scss";
@import "_function.scss";

.wrapper {
    min-height: 100%;
    overflow: clip;
}

[class*="__container"] {
    padding: 0 toRem(15);
    margin: 0 auto;
}

.header {
    &__container {
        padding: toRem(15);
        max-width: toRem(1360);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // .header__logo

    &__logo {
        font-family: Nosifer;
        font-size: clamp(1.875rem, 1.172rem + 2.5vw, 2.5rem);
        line-height: 0.43;
        letter-spacing: 0.01em;
        color: #000;
    }

    // .header__menu

    &__menu {
        @media (max-width: toRem(750)) {
            position: fixed;
            transform: translateX(100%);
            right: 0;
            top: 0;
            width: 45%;
            height: 100%;
            background-color: rgba(177, 155, 155, 1);
            z-index: 10;
            transition: transform 0.5s;
            &.active {
                transform: translateX(0);
            }
        }
        nav {
            @media (max-width: toRem(750)) {
                flex-direction: column;
                padding: toRem(40) toRem(10);
                row-gap: toRem(20);
            }
            display: inline-flex;
            flex-wrap: wrap;
            column-gap: toRem(39);
        }
    }

    // .header__link

    &__link {
        font-family: Poppins;
        font-size: toRem(14);
        line-height: 2;
        letter-spacing: 0.04em;
        color: #313131;
        position: relative;
        &.active {
            &:after {
                content: "";

                position: absolute;
                bottom: 2px;
                left: 0;
                border-radius: 3px;
                width: 80%;
                height: 2px;
                background: #313131;
                @media (max-width: toRem(750)) {
                    width: 62%;
                }
            }
        }
    }

    // header__button

    &__button {
        @media (min-width: toRem(750)) {
            display: none;
        }
        width: 30px;
        height: 30px;
        position: relative;
        overflow: hidden;
        z-index: 100;

        & div {
            transition: all 0.5s;
            width: 100%;
            height: 4px;
            background-color: #000;
            border-radius: 50px;
            position: absolute;
        }
        & div:nth-child(1) {
            top: 0;
        }
        & div:nth-child(2) {
            top: 10px;
        }
        & div:nth-child(3) {
            top: 20px;
        }
    }
    .header__button.active div:nth-child(1) {
        top: 10px;
        transform: rotate(45deg);
    }
    .header__button.active div:nth-child(2) {
        opacity: 0;
    }
    .header__button.active div:nth-child(3) {
        top: 10px;
        transform: rotate(-45deg);
    }
}

.page-home {
    position: relative;
    min-height: 100vh;
    position: relative;
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -5;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__container {
        position: relative;
        max-width: toRem(1310);
        display: flex;
        justify-content: space-between;
        column-gap: toRem(100);
        @media (max-width: toRem(1125)) {
            justify-content: center;
        }
    }
    // .page-home__text

    &__text {
        padding-top: clamp(3.125rem, -3.625rem + 24vw, 14.375rem);
        max-width: toRem(556);
    }

    // .page-home__title

    &__title {
        font-family: Varela;
        font-size: clamp(2.5rem, 0.875rem + 5.59vw, 5.313rem);
        line-height: 1.12;
        letter-spacing: 0.04em;
        color: #fff;
        margin-bottom: toRem(25);
        @media (max-width: toRem(1125)) {
            text-align: center;
        }
    }

    // .page-home__paragraph

    &__paragraph {
        font-family: Poppins;
        font-weight: 500;
        font-size: clamp(0.875rem, 0.803rem + 0.25vw, 1rem);
        line-height: 1.56;
        letter-spacing: 0.03em;
        color: #fafafa;
        margin-bottom: toRem(40);
        opacity: 0.7;
        @media (max-width: toRem(1125)) {
            text-align: center;
        }
    }

    // .page-home__input-box

    &__decor {
        @media (max-width: toRem(1125)) {
            display: none;
        }
        z-index: -2;
        right: 0;
        height: 100vh;
        margin-right: toRem(210);

        img {
            object-fit: cover;
            transform: translateY(toRem(-168)) rotate(20deg);
        }
    }
}
.input-box {
    max-width: toRem(406);
    width: 100%;
    background-color: #fff;
    position: relative;
    @media (max-width: toRem(1125)) {
        margin: 0 auto;
    }

    form {
        display: flex;
        justify-content: space-between;
        column-gap: toRem(15);
        padding: toRem(12) toRem(21) toRem(11) toRem(21);
    }

    & button:nth-child(1) {
        font-family: Poppins;
        font-weight: 600;
        font-size: toRem(11);
        line-height: 1;
        letter-spacing: 0.11em;
        color: #fafafa;
        background: linear-gradient(140deg, #313131 0%, #000 100%);
        padding: toRem(10) toRem(17.96);
    }
    input {
        border: none;
        outline: none;
        max-width: toRem(240);
        width: 100%;
        &::placeholder {
            font-family: Poppins;
            font-weight: 500;
            font-size: toRem(13.5);
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #313131;
            opacity: 0.7;
        }
    }
    & button {
        img {
            transform: translateY(4px);
        }
    }
}

.page-new-anime {
    background-color: #813434;
    // .page-new-anime__container
    position: relative;
    z-index: 1;

    &__container {
        padding-top: toRem(80);
        max-width: toRem(1300);
    }

    // .page-new-anime__title

    &__title {
        font-family: Poppins;
        font-weight: 600;
        font-size: clamp(1.25rem, 1.159rem + 0.45vw, 1.5rem);
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: #313131;
        margin-bottom: toRem(28);
    }

    // .page-new-anime__content

    &__content {
        display: grid;
        grid-template-columns: repeat(2, minmax(toRem(200), toRem(636)));
        @media (max-width: toRem(991)) {
            grid-template-columns: repeat(1, minmax(toRem(300), toRem(836)));
            justify-content: center;
        }
    }

    // .page-new-anime__item

    &__item {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;

            object-fit: cover;
        }
    }

    // .page-new-anime__text-main

    &__text-main {
        padding: toRem(72) toRem(82) toRem(73) toRem(82);
    }

    // .page-new-anime__history

    &__history {
        span {
            color: #4b4b4b;
            margin-right: toRem(18.56);
        }
        font-family: Poppins;
        font-weight: 500;
        font-size: clamp(0.688rem, 0.259rem + 1.71vw, 1.063rem);
        color: #6e6e6e;
        margin-bottom: toRem(11.42);
    }

    // .page-new-anime__title-cards

    &__title-cards {
        font-family: Poppins;
        font-weight: 700;
        font-size: clamp(1.063rem, 0.491rem + 2.29vw, 1.563rem);
        text-transform: capitalize;
        color: #313131;
        margin-bottom: toRem(12);
    }
    &__paragraph {
        margin-bottom: toRem(33);
        &--padding {
            @media(min-width: toRem(991)){
             padding-left: toRem(71);   
            }
            
        }
    }

    // .page-new-anime__text-footer

    &__text-footer {
        display: flex;
        justify-content: space-between;
        column-gap: toRem(20);
        font-family: Poppins;
        font-size: clamp(0.75rem, 0.393rem + 1.43vw, 1.063rem);

        p {
            font-weight: 500;
            
            color: #6e6e6e;
        }
        a {
            font-weight: 700;
            color: #313131;
            position: relative;

            img {
                width: 28.5px;
                height: 28.5px;
                position: relative;
                bottom: 7px;
            }
        }
    }

    // .page-new-anime__read
}
.paragraph {
    font-family: Poppins;
    font-weight: 400;
    font-size: clamp(0.75rem, 0.25rem + 2vw, 1.188rem);
    line-height: 150%;
    color: #6e6e6e;
}

@media (max-width: 991px) {
  .page-new-anime__content > :nth-child(odd):not(:nth-child(1)) {
        order: 2; /* Міняємо місцями нечетні елементи з четними */
    }

   
}
    

