// --------common-----------
@import "./import/fonts";
@import "./import/function";
@import "./import/reset";

// // --------header-----------
@import "./header/header";
// // --------footer------------
@import "./footer/footer";

// // -------container-----------

[class*="__container"] {
    max-width: toRem(1280);
    margin: 0 auto;
    padding-left: toRem(15);
    padding-right: toRem(15);
    border: 1px solid #fff;
}

.wrapper {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    background-color: #222831;
    color: #eee;
}

// ---------page-----------

.page {
    flex: 1 1 auto;
}

// global class title

.title {
    font-weight: 700;
    font-size: 64px;
    span {
        color: #00adb5;
    }
}

.home {
    padding-top: toRem(92);
    // .home__container

    &__container {
        padding-top: toRem(92);
        display: flex;
        // justify-content: space-between;
    }

    // .home__content

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: toRem(48);
    }

    // .home__title

    &__title {
        font-size: 96px;
        line-height: 100%;
        max-width: toRem(550);
    }

    // .home__buttons

    &__buttons {
        display: flex;
        column-gap: toRem(24);
        align-items: center;
        font-weight: 700;
        font-size: toRem(18);
        button,
        a{
            transition: background-color 0.2s;
            border-radius: 24px;
            padding: toRem(13) toRem(32);
        }
    }

    // .home__button-hire

    &__link-hire {
        a {
            background-color: #00adb5;
            transition: background-color 0.2s;
            &:hover {
                background-color: #038b92;
            }
        }
    }

    // .home__button-dawnload

    &__button-dawnload {
        button {
            background-color: #fff;
            backdrop-filter: blur(4px);
            background: rgba(57, 62, 70, 0.75);
            &:hover{
                background: rgba(67, 72, 82, 0.75);
            }
        }
    }

    // .home__design

    &__design {
        
    }

    // .home__doodle

    &__doodle {

    }

    // .home__man

    &__man {
}
}
