@import "fonts.scss";
@import "reset.scss";
@import "function.scss";

$white: #ffffff;

body {
    background-color: #000000;
}

.wrapper {
    min-height: 100%;
    display: flex;
    overflow: clip;
    flex-direction: column;
    color: #fffffd;
    font-family: Inter;
    font-weight: 400;
}

[class*="__container"] {
    max-width: toRem(1320);
    padding: 0 30px;
    margin: 0 auto;
    border: 1px solid $white;
}

.header {
    // .header__container

    &__container {
        display: flex;
        justify-content: space-between;
        column-gap: 20px;
        padding-top: toRem(28);
        padding-bottom: toRem(28);
        position: relative;
        z-index: 100;
        align-items: center;
        
    }

    // .header__logo

    &__logo {
        color: $white;
        font-family: "Canela Text Trial Medium";
        font-size: toRem(36);
        font-weight: 500;
        line-height: 1.2;
        position: relative;
        padding-left: toRem(45);
        z-index: 3;
        align-self: flex-start;
        span {
            color: #d3f85a;
        }
        &::before {
            position: absolute;
            inset: 0;
            content: "";
            background: url(../img/header/icon.svg) 0 0 / cover no-repeat;
            width: toRem(33);
            height: toRem(33);
            top: 6.5px;
        }
    }

    & .menu {
        display: none;
        @media(min-width: 991px){
          display: flex;  
        }
        
        column-gap: toRem(40);

        a {
            color: rgba(255, 255, 253, 0.72);
            line-height: 1.6;
            position: relative;
            transition: color 0.2s;
            &:after {
                content: "";
                display: block;
                position: absolute;
                width: 0;
                height: 2px;
                background-color: #d3f85a;
                border-radius: 50px;
                transition: width 0.5s;
            }
            @media (any-hover: hover) {
                &:hover {
                    color: $white;
                    &:after {
                        width: 97%;
                    }
                }
            }
        }
    }

    // .header__buttton

    &__buttton {
        display: flex;
        column-gap: 30px;
    }

    // .header__contacts

    &__contacts {
        @media(max-width: 605px){
            display: none;
        }
        a {
            color: #090f1d;
            font-weight: 700;
            line-height: 1.2;
            padding: 15.5px 40px;
            background-color: #d3f85a;
            border-radius: 8px;
            transition: background-color 0.3s;
            @media (any-hover: hover) {
                &:hover {
                    background-color: rgb(249, 175, 38);
                }
            }
        }
    }

    &__burger{
        width: 40px;
        height: 52px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        @media(min-width:991px){
         display: none;   
        }
        
        & .burger__line:nth-child(1){
            width: 100%;
            height: 4px;
            background-color: $white;
            position: relative;
            top: 4px;
            transform: translateY(-11px);
            border-radius: 10px;
            transition: all .3s;
        }
        & .burger__line:nth-child(2){
            width: 100%;
            height: 4px;
            background-color: $white;
            border-radius: 10px;
            transition: all .2s;
        }
        & .burger__line:nth-child(3){
            width: 100%;
            height: 4px;
            background-color: $white;
            position: relative;
            bottom: 4px;
            transform: translateY(11px);
            border-radius: 10px;
            transition: all .3s;
        }
        &:focus > .burger__line:nth-child(1){
            transform: rotate(40deg);
        }&:focus > .burger__line:nth-child(3){
            transform: rotate(-40deg);
        }&:focus > .burger__line:nth-child(2){
            transform: translateX(45px);
        }
        
    }

}
