@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Bold.woff2") format("woff2"), url("../fonts/SourceSansPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Canela Text Trial Medium";
  src: url("../fonts/Canela-Medium-Trial.woff") format("woff2");
  font-style: normal;
  font-weight: normal;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  background-color: #000000;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: clip;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fffffd;
  font-family: Inter;
  font-weight: 400;
}

[class*=__container] {
  max-width: 82.5rem;
  padding: 0 30px;
  margin: 0 auto;
  border: 1px solid #ffffff;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  position: relative;
  z-index: 100;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  color: #ffffff;
  font-family: "Canela Text Trial Medium";
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1.2;
  position: relative;
  padding-left: 2.8125rem;
  z-index: 3;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.header__logo span {
  color: #d3f85a;
}
.header__logo::before {
  position: absolute;
  inset: 0;
  content: "";
  background: url(../img/header/icon.svg) 0 0/cover no-repeat;
  width: 2.0625rem;
  height: 2.0625rem;
  top: 6.5px;
}
.header .menu {
  display: none;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
}
@media (min-width: 991px) {
  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header .menu a {
  color: rgba(255, 255, 253, 0.72);
  line-height: 1.6;
  position: relative;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.header .menu a:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #d3f85a;
  border-radius: 50px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}
@media (any-hover: hover) {
  .header .menu a:hover {
    color: #ffffff;
  }
  .header .menu a:hover:after {
    width: 97%;
  }
}
.header__buttton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
@media (max-width: 605px) {
  .header__contacts {
    display: none;
  }
}
.header__contacts a {
  color: #090f1d;
  font-weight: 700;
  line-height: 1.2;
  padding: 15.5px 40px;
  background-color: #d3f85a;
  border-radius: 8px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media (any-hover: hover) {
  .header__contacts a:hover {
    background-color: rgb(249, 175, 38);
  }
}
.header__burger {
  width: 40px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
@media (min-width: 991px) {
  .header__burger {
    display: none;
  }
}
.header__burger .burger__line:nth-child(1) {
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  position: relative;
  top: 4px;
  -webkit-transform: translateY(-11px);
      -ms-transform: translateY(-11px);
          transform: translateY(-11px);
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__burger .burger__line:nth-child(2) {
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.header__burger .burger__line:nth-child(3) {
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  position: relative;
  bottom: 4px;
  -webkit-transform: translateY(11px);
      -ms-transform: translateY(11px);
          transform: translateY(11px);
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__burger:focus > .burger__line:nth-child(1) {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}
.header__burger:focus > .burger__line:nth-child(3) {
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
}
.header__burger:focus > .burger__line:nth-child(2) {
  -webkit-transform: translateX(45px);
      -ms-transform: translateX(45px);
          transform: translateX(45px);
}