@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@font-face {
  font-family: "Cooper Black";
  src: local("Cooper Black Regular"), local("Cooper-Black-Regular"), url("CooperBlackStd.woff2") format("woff2"), url("CooperBlackStd.woff") format("woff"), url("CooperBlackStd.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}